@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'bold';
    src: url('../font/Herokid-SemiBoldExpanded.otf');
}

@font-face {
    font-family: 'regular';
    src: url('../font/Herokid-RegularExpanded.otf');
}

/* @font-face {
    font-family: 'normal';
    src: url('../font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
} */

@font-face {
    font-family: 'light';
    src: url('../font/Herokid-LightExpanded.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

/* 
body {
  -webkit-overflow-scrolling: touch;
}
someElement.ontouchstart = (e) => {
    e.preventDefault();
};
body {
  padding-right: {ScrollBarWidth}px;
}
view rawpreserve-scroll-bar.css hosted with ❤ by GitHub
const documentWidth = document.documentElement.clientWidth;
const windowWidth = window.innerWidth;
 */

body,
a,
button {
    cursor: none;
}

::-webkit-scrollbar-track {
    cursor: col-resize;
}

::-webkit-scrollbar {
    background: #171717;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d5ff3f;
}


.container {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    z-index: 50;
}

.underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item:hover .nav-link .letter,
.nav-link.play .letter {
    transform: translateY(-100%);
}

/* 
.nav-link .block:last-child .letter {
    color: #d5ff3f;
} */

.nav-link .letter {
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}

.ease-cubic {
    transition: all 0.3 cubic-bezier(0, 0, 0.4, 0.93);
}

.hover-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 450px;
    height: auto;
    z-index: 1;
    aspect-ratio: 0.9;
    transform-origin: center;
    /* transform: translate(-50%, -50%); */
    background: gray;
    object-fit: cover;
    pointer-events: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 999px;
    border-width: 1px;
    border-style: solid;
    font-family: 'light';
    padding: 0.4vw 1vw;
    line-height: 50%;
}

.header-line::before,
.header-line::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 999px;
    background-color: inherit;
}

.header-line::before {
    left: 0;
    transform: translate(-50%, -50%);
}

.header-line::after {
    right: 0;
    transform: translate(50%, -50%);
}

/* animations */

.fade {
    opacity: 0;
    transform: translate(0, 5vw);
    transition: 0.5s ease-out;
}

.marquee-wrapper {
    mix-blend-mode: normal !important;
    animation: marquee 20s infinite linear;
    transition: all 3s;
}


@keyframes marquee {
    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(-102%);
    }

}

.accordion-item {
    overflow: hidden;
}

.accordion-item .accordion-content {
    height: 0;
    overflow: hidden;
}

.accordion-item .accordion-title p {
    line-height: 1;
}

.accordion-item .accordion-content {
    margin: 0 50px 50px;
}

.accordion-item.active .accordion-icon {
    rotate: 90deg;
}

.footer-3d {
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px #d5ff3f;

}

.live-site img:nth-child(1) {
    animation: live-1 0.7s ease infinite;
    translate: 0vw, 0vw;
}

.live-site img:nth-child(2) {
    animation: live-2 0.7s ease infinite;
    translate: -7vw, 7vw;
}

@keyframes live-1 {
    100% {
        transform: translate(7vw, -7vw);
    }
}

@keyframes live-2 {
    100% {
        transform: translate(0vw, 0vw);
    }
}